/* Base styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url("/static/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Flex container for the boxes */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 2000px;
    z-index: 1;
}

/* Header container styling */
.header-container {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the title */
    margin-bottom: 5px;
    width: 100%;
    height: 5%;
    margin-top: 4%;
    max-height: 100px;
    max-width: 800px;
    position: absolute; /* Position at the top of the page */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Header text styling */
.header-container h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    white-space: nowrap;
}

/* Header image styling */
.header-image-side {
    display: block;
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    box-shadow: none;
}

/* Side box styling */
.side-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.side-box h2 {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 10px;
    z-index: 1;
}

.side-box p {
    font-size: 1.5rem;
    color: #555;
    z-index: 1;
}

/* Header title styling */
h1.title {
    text-transform: uppercase;
    color: black;
    margin: 0 0 20px;
}

/* Button styling */
.start-button {
    background-color: #4b76eb;
    color: white;
    padding: 20px 40px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    z-index: 1;
}

.start-button:hover {
    background-color: #45a049;
}

/* QR code block styling */
.qr-block {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.qr-block img {
    max-width: 100%;
    height: auto;
}

/* Footer styling */
footer {
    position: absolute;
    bottom: 10px;
    height: 10%;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color: rgba(170, 166, 166, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    max-width: 600px;
    height: auto;
    margin: 0;
}

.fancy-button {
    background: linear-gradient(135deg, #6aeb6e, #4b76eb);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

.fancy-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.fancy-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fancy-button div {
    font-size: 2rem;
}

.mutation-options-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.mutation-options-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.alphabet-button {
    background: linear-gradient(135deg, #6aeb6e, #4b76eb);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 30px 40px;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

.closealphabet-button {
    background: linear-gradient(135deg, #6aeb6e, #4b76eb);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 30px 40px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

.explanation-box {
    background-color: white; /* White background for the box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Inner spacing */
    margin: 20px auto; /* Center the box with margin */
    width: 50%; /* Width of the box */
    height: auto; /* Auto height to fit content */
    text-align: center; /* Center-align the text inside */
    overflow: hidden; /* Prevent content from overflowing */
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.explanation-box h3 {
    font-size: 1.8rem; /* Slightly larger font for the heading */
    color: #333; /* Darker color for the heading */
    margin-bottom: 10px; /* Space below the heading */
    word-wrap: break-word; /* Ensure long words break to fit inside the box */
}

.explanation-box p {
    font-size: 1.2rem; /* Standard font size for the paragraph */
    color: #555; /* Medium gray for the text */
    margin-bottom: 1px; /* Space below the paragraph */
    word-wrap: break-word; /* Prevent text overflow */
}


.image-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image container */
    padding: 0; /* Remove padding */
    background-color: transparent; /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of images */
    gap: 10px; /* Increased gap for more margin between images */
}

.image-image1 {
    width: 30%;
    max-width: 30%;
    height: auto;
    border-radius: 5px; /* Slight rounding for the image corners */
    margin: 0; /* Remove individual margin offsets */
}

.image-image2 {
    width: 30%;
    max-width: 30%;
    height: auto;
    border-radius: 5px; /* Slight rounding for the image corners */
    margin: 0; /* Remove individual margin offsets */
    margin-top: 20px; /* Add margin to the top of the second image */
}
.terminal-block {
    background-color: #000;
    color: #0f0;
    padding: 10px;
    font-family: "Courier New", monospace;
    border-radius: 4px;
    margin: 20px auto;
    width: 70%;

    text-align: left;
}
.terminal-output {
    min-height: 10px;
    white-space: pre-wrap;
    margin-bottom: 10px;
    text-align: left;
}
#terminalInput {
    width: 100%;
    background-color: #000;
    border: none;
    color: #0f0;
    font-family: "Courier New", monospace;
    text-align: left;
}

#terminalInput:focus {
    outline: none;
}
