<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Protein Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- QR Code block -->
    <div class="qr-block">
        <img src="{{ url_for('static', filename='images/lnbiosite.png') }}" alt="QR Code">
        <p><a href="https://lnbio.cnpem.br/" target="_blank">Site LNBio</a></p>
    </div>

    <!-- Modal Popup -->
    <form id="letterForm" action="/traj">
        <!-- Hidden input to hold the mutation value -->
        <input type="hidden" name="letterSel" id="letterValue">
        <div id="alphabetOptionsModal" class="mutation-options-modal">
            <div class="mutation-options-content">
                <h2>Escolha uma Letra</h2>
                <div id="alphabetButtons" class="alphabet-buttons"></div>
                <button id="closeAlphabetOptionsModal" class="fancy-button"  type="button">
                    <div>Fechar</div>
                </button>
            </div>
        </div>
    </form>
    
    <!-- Content container with side boxes and header container -->
    <div class="content-container">
        <!-- Left side box -->
        <div class="side-box">
            <h2>O que é Design de Proteínas?</h2>
            <p>Uma breve descrição sobre design de proteínas.</p>
        </div>

        <!-- Header container with title and image -->
        <div class="header-container">
            <h1 class="title">Grupo de Design de Proteínas</h1>
            <img src="{{ url_for('static', filename='images/carimbo.png') }}" alt="Header Image" class="header-image">
        </div>

        <!-- Right side box -->
        <div class="side-box">
            <h2>Otimize sua proteína em tempo real!</h2>
            <p>Veja como pequenas mudanças podem gerar grandes resultados na estabilidade estrutural.
               Essa atividade busca explorar mutações que fortalecem a estrutura da sua proteína.</p>
        </div>
    </div>

    <!-- Start button -->
    <button id="showAlphabetOptions" class="fancy-button" onclick="showAlphabetOptionsModal()">
        <div><i class="fas fa-ellipsis-h"></i> Escolher Letra</div>
    </button>

    <!-- Footer -->
    <footer>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logolnbio">
    </footer>

    <script>
        
        // Show modal
        function showAlphabetOptionsModal() {
            document.getElementById('alphabetOptionsModal').style.display = 'flex';
        }

        // Hide modal
        document.getElementById('closeAlphabetOptionsModal').addEventListener('click', () => {
            document.getElementById('alphabetOptionsModal').style.display = 'none';
        });

        // Generate alphabet buttons dynamically (A-Z)
        const alphabetContainer = document.getElementById('alphabetButtons');
        for (let i = 65; i <= 90; i++) {
            const letter = String.fromCharCode(i);
            const button = document.createElement('button');
            button.className = 'mutation-option fancy-button';
            button.setAttribute('data-letter', letter);
            button.innerHTML = `<div>${letter}</div>`;
            // Dentro do loop de criação dos botões
            button.onclick = () => {
                const letter = button.getAttribute('data-letter');
                console.log("Selected Letter: " + letter);
                window.location.href = `/traj?letterSel=${letter}`;
            };

            alphabetContainer.appendChild(button);
        }

        document.getElementById('letterForm').addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent the default form submission
        });
    </script>

</body>
</html>
