<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Protein Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- QR Code block -->
    <div class="qr-block">
        <img src="{{ url_for('static', filename='images/lnbiosite.png') }}" alt="QR Code">
        <p><a href="https://lnbio.cnpem.br/" target="_blank">Site LNBio</a></p>
    </div>
    
    <!-- Content container with side boxes and header container -->
    <div class="content-container">
        <!-- Left side box -->
        <div class="side-box">
            <h2>O que é Design de Proteínas?</h2>
            <p>Uma breve descrição sobre design de proteínas.</p>
        </div>

        <!-- Header container with title and image -->
        <div class="header-container">
            <h1 class="title">Grupo de Design de Proteínas</h1>
            <img src="{{ url_for('static', filename='images/carimbo.png') }}" alt="Header Image" class="header-image">
        </div>

        <!-- Right side box -->
        <div class="side-box">
            <h2>Otimize sua proteína em tempo real!</h2>
            <p>Veja como pequenas mudanças podem gerar grandes resultados na estabilidade estrutural.
               Essa atividade busca explorar mutações que fortalecem a estrutura da sua proteína.</p>
        </div>
    </div>

    <!-- Start button -->
    <button id="inicioButton" class="fancy-button">
        <div><i class="fas fa-ellipsis-h"></i> Iniciar</div>
    </button>

    <!-- Footer -->
    <footer>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logolnbio">
    </footer>

    <script>
        // Redirect to the trajectory page when the start button is clicked
        document.getElementById('inicioButton').addEventListener('click', () => {
            window.location.href = '/start';
        });
    </script>

</body>
</html>
