<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Protein Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- QR Code block -->
    <div class="qr-block">
        <img src="{{ url_for('static', filename='images/lnbiosite.png') }}" alt="QR Code">
        <p><a href="https://lnbio.cnpem.br/" target="_blank">Site LNBio</a></p>
    </div>
    

    <!-- Header container with title and image -->
    <div class="header-container">
        <h1 class="title">Grupo de Design de Proteínas</h1>
        <img src="{{ url_for('static', filename='images/carimbo.png') }}" alt="Header Image" class="header-image-side">
    </div>
    
    <!-- Explanation Box -->
    <div class="explanation-box">
        <h2>Você sabia que os mesmos modelos de Inteligência Artificial usados para gerar imagens a partir de texto também podem ser empregados para criar novas estruturas de proteínas?</h2>
        <p></p>
        <p>Eles são chamados modelos de difusão!</p>

            <!-- Terminal Block -->
        <div id="terminalBlock" class="terminal-block">
            <div class="terminal-output" id="terminalOutput"></div>
            <input type="text" id="terminalInput" placeholder="Type your command..." />
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/noisy_frame.png') }}" alt="Imagem 1" class="image-image1">
            <img src="{{ url_for('static', filename='images/diffusion.jpeg') }}" alt="Imagem 2" class="image-image2">
            <img src="{{ url_for('static', filename='images/diffusion_process.gif') }}" alt="Explicação da Atividade" class="image-image1">
        </div>
    </div>

    
    <!-- Start button -->
    <button id="inicioButton" class="fancy-button">
        <div><i class="fas fa-ellipsis-h"></i>Iniciar</div>
    </button>

    <!-- Footer -->
    <footer>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logolnbio">
    </footer>

    <script>
        
        // Print the phrase automatically on page load
        document.addEventListener('DOMContentLoaded', function() {
            const output = document.getElementById('terminalOutput');
            output.innerText += '> Gerar uma imagem de um dos maiores complexos científicos brasileiro.\n';
        });
        
        // Redirect to the trajectory page when the start button is clicked
        document.getElementById('inicioButton').addEventListener('click', () => {
            window.location.href = '/start';
        });

    </script>

</body>
</html>
