<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protein Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <!-- Modal Popup -->
    <form id="letterForm" action="/traj">
        <!-- Hidden input to hold the mutation value -->
        <input type="hidden" name="letterSel" id="letterValue">
        <div id="alphabetOptionsModal" class="mutation-options-modal">
            <div class="mutation-options-content">
                <h2>Escolha uma Letra</h2>
                <div id="alphabetButtons" class="alphabet-buttons"></div>
                <button id="closeAlphabetOptionsModal" class="closealphabet-button"  type="button">
                    <div>Fechar</div>
                </button>
            </div>
        </div>
    </form>


    <!-- Explanation Box -->
    <div class="explanation-box">
        <h1> Sobre Modelos de Difusão e Proteínas</h1>
        <h2>Em modelos de difusão, uma imagem, por exemplo, é gradualmente destruída pela adição de ruído até se tornar totalmente ruidosa. Esse processo gera milhares de imagens com diferentes niveis de ruído, que são utilizadas para treinar uma Inteligência Artificial capaz de prever qual seriam imagens reais a partir de uma versão com ruído. Assim, a IA aprende a gerar novas imagens.</h2>
        <p>Podemos fazer o mesmo com estruturas de proteínas. Nesse caso, aplicamos ruído às posições dos átomos que compõem a estrutura da proteína.</p>
    </div>

    <!-- Start button -->
    <button id="showAlphabetOptions" class="fancy-button" onclick="showAlphabetOptionsModal()">
        <div><i class="fas fa-ellipsis-h"></i> Gostaria de visualizar uma proteína no formato de letras? Escolha uma!</div>
    </button>
    
    <!-- Return button -->
    <button id="returnButton" class="fancy-button" onclick="window.location.href='/'">
        <div><i class="fas fa-arrow-left"></i> Voltar</div>
    </button>

    <script>
        
        // Show modal
        function showAlphabetOptionsModal() {
            document.getElementById('alphabetOptionsModal').style.display = 'flex';
        }

        // Hide modal
        document.getElementById('closeAlphabetOptionsModal').addEventListener('click', () => {
            document.getElementById('alphabetOptionsModal').style.display = 'none';
        });

        // Print the phrase automatically on page load
        document.addEventListener('DOMContentLoaded', function() {
            const output = document.getElementById('terminalOutput');
            output.innerText += '> Gerar uma imagem de um dos maiores complexos científicos brasileiro.\n';
        });

        // Generate alphabet buttons dynamically (A-Z)
        const alphabetContainer = document.getElementById('alphabetButtons');
        for (let i = 65; i <= 90; i++) {
            const letter = String.fromCharCode(i);
            const button = document.createElement('button');
            button.className = 'mutation-option alphabet-button';
            button.setAttribute('data-letter', letter);
            button.innerHTML = `<div>${letter}</div>`;
            // Dentro do loop de criação dos botões
            button.onclick = () => {
                const letter = button.getAttribute('data-letter');
                console.log("Selected Letter: " + letter);
                window.location.href = `/traj?letterSel=${letter}`;
            };

            alphabetContainer.appendChild(button);
        }

        document.getElementById('letterForm').addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent the default form submission
        });

    </script>
</body>
</html>